In [10]:
import pandas as pd
import numpy as np
import scipy as stats 
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('masterdf.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125 entries, 0 to 2124
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   release_date          2125 non-null   object
 1   movie                 2125 non-null   object
 2   production_budget     2125 non-null   int64
 3   domestic_gross        2125 non-null   int64
 4   genres                533 non-null    object
 5   studio                1267 non-null   object
 6   foreign_gross         1099 non-null   object
 7   domestic_ROI_percent  2125 non-null   float64
 8   domestic_Profit       2125 non-null   int64
dtypes: float64(1), int64(3), object(5)
memory usage: 149.5+ KB

In [13]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [14]:
# Define a function to map months to seasons
def get_season(month):
    if month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Autumn'
    else:
        return 'Winter'

df['Seasons'] = df['release_date'].dt.month.map(get_season)
df.head()

,release_date,movie,production_budget,domestic_gross,genres,studio,foreign_gross,domestic_ROI_percent,domestic_Profit,Seasons
0,2011-05-20,PiratesoftheCaribbeanOnStrangerTides,410600000,241063875,"Action,Adventure,Fantasy",BV,804600000,58.710150,-169536125,Spring
1,2015-05-01,AvengersAgeofUltron,330600000,459005868,"Action,Adventure,Sci-Fi",BV,946400000,138.840250,128405868,Spring
2,2017-12-15,StarWarsTheLastJedi,317000000,620181382,"Action,Adventure,Fantasy",BV,712400000,195.640815,303181382,Winter
3,2015-12-18,StarWarsTheForceAwakens,306000000,936662225,"Action,Adventure,Fantasy",BV,"1,131.6",306.098766,630662225,Winter
4,2018-04-27,AvengersInfinityWar,300000000,678815482,"Action,Adventure,Sci-Fi",BV,"1,369.5",226.271827,378815482,Spring

In [15]:
genres = df['genres'].str.split(',', expand=True)
unique_genres = set(genres.values.ravel()) - {None}

for genre in unique_genres:
    df[genre] = genres.apply(lambda row: 1 if genre in row.values else 0, axis=1)

df.head(20
    )

,release_date,movie,production_budget,domestic_gross,genres,studio,foreign_gross,domestic_ROI_percent,domestic_Profit,Seasons,...,Horror,Musical,Drama,Music,Animation,Mystery,Biography,Family,Sci-Fi,Romance
0,2011-05-20,PiratesoftheCaribbeanOnStrangerTides,410600000,241063875,"Action,Adventure,Fantasy",BV,804600000,58.710150,-169536125,Spring,...,0,0,0,0,0,0,0,0,0,0
1,2015-05-01,AvengersAgeofUltron,330600000,459005868,"Action,Adventure,Sci-Fi",BV,946400000,138.840250,128405868,Spring,...,0,0,0,0,0,0,0,0,1,0
2,2017-12-15,StarWarsTheLastJedi,317000000,620181382,"Action,Adventure,Fantasy",BV,712400000,195.640815,303181382,Winter,...,0,0,0,0,0,0,0,0,0,0
3,2015-12-18,StarWarsTheForceAwakens,306000000,936662225,"Action,Adventure,Fantasy",BV,"1,131.6",306.098766,630662225,Winter,...,0,0,0,0,0,0,0,0,0,0
4,2018-04-27,AvengersInfinityWar,300000000,678815482,"Action,Adventure,Sci-Fi",BV,"1,369.5",226.271827,378815482,Spring,...,0,0,0,0,0,0,0,0,1,0
5,2017-11-17,JusticeLeague,300000000,229024295,"Action,Adventure,Fantasy",WB,428900000,76.341432,-70975705,Autumn,...,0,0,0,0,0,0,0,0,0,0
6,2015-11-06,Spectre,300000000,200074175,"Action,Adventure,Thriller",Sony,680600000,66.691392,-99925825,Autumn,...,0,0,0,0,0,0,0,0,0,0
7,2012-07-20,TheDarkKnightRises,275000000,448139099,"Action,Thriller",WB,636800000,162.959672,173139099,Summer,...,0,0,0,0,0,0,0,0,0,0
8,2018-05-25,SoloAStarWarsStory,275000000,213767512,"Action,Adventure,Sci-Fi",BV,179200000,77.733641,-61232488,Spring,...,0,0,0,0,0,0,0,0,1,0
9,2013-07-02,TheLoneRanger,275000000,89302115,"Action,Adventure,Western",BV,171200000,32.473496,-185697885,Summer,...,0,0,0,0,0,0,0,0,0,0
10,2012-03-09,JohnCarter,275000000,73058679,"Action,Adventure,Sci-Fi",BV,211100000,26.566792,-201941321,Spring,...,0,0,0,0,0,0,0,0,1,0
11,2010-11-24,Tangled,260000000,200821936,"Adventure,Animation,Comedy",BV,391000000,77.239206,-59178064,Autumn,...,0,0,0,0,1,0,0,0,0,0
12,2016-05-06,CaptainAmericaCivilWar,250000000,408084349,"Action,Adventure,Sci-Fi",BV,745200000,163.233740,158084349,Spring,...,0,0,0,0,0,0,0,0,1,0
13,2016-03-25,BatmanvSupermanDawnofJustice,250000000,330360194,"Action,Adventure,Fantasy",WB,543300000,132.144078,80360194,Spring,...,0,0,0,0,0,0,0,0,0,0
14,2012-12-14,TheHobbitAnUnexpectedJourney,250000000,303003568,"Adventure,Family,Fantasy",WB (NL),718100000,121.201427,53003568,Winter,...,0,0,0,0,0,0,0,1,0,0
15,2013-12-13,TheHobbitTheDesolationofSmaug,250000000,258366855,"Adventure,Fantasy",WB (NL),700000000,103.346742,8366855,Winter,...,0,0,0,0,0,0,0,0,0,0
16,2014-12-17,TheHobbitTheBattleoftheFiveArmies,250000000,255119788,"Adventure,Fantasy",WB (NL),700900000,102.047915,5119788,Winter,...,0,0,0,0,0,0,0,0,0,0
17,2017-04-14,TheFateoftheFurious,250000000,225764765,"Action,Crime,Thriller",Uni.,"1,010.0",90.305906,-24235235,Spring,...,0,0,0,0,0,0,0,0,0,0
18,2017-05-26,PiratesoftheCaribbeanDeadMenTellNoTales,230000000,172558876,"Action,Adventure,Fantasy",BV,622300000,75.025598,-57441124,Spring,...,0,0,0,0,0,0,0,0,0,0
19,2012-05-04,TheAvengers,225000000,623279547,"Action,Adventure,Sci-Fi",BV,NaN,277.013132,398279547,Spring,...,0,0,0,0,0,0,0,0,1,0

In [16]:
df.to_csv('./zippedData/TableauDF.csv', index=False)